html, body {
  background-color: #6d6d6d
}

.hidden {
  display: none !important;
}

nav {
  margin-bottom: 50px;
}

a {
  color: inherit;
}

a:hover {
  color: #6d6d6d;
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50px;
}
