html, body {
  background-color: #6d6d6d
}

.hidden {
  display: none !important;
}

nav {
  margin-bottom: 50px;
}

a {
  color: inherit;
}

a:hover {
  color: #6d6d6d;
}

.newBikeButton {
  color: #c62828;
}

.newBikeButton:hover {
  color: #8e0000;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
