html, body {
  background-color: #6d6d6d
}

.hidden {
  display: none !important;
}

nav {
  margin-bottom: 50px;
}

a {
  color: inherit;
}

a:hover {
  color: #6d6d6d;
}

.addNewButton {
  color: #D6354A;
}

.addNewButton:hover {
  color: #B71C1C;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
