{% extends "framework.html" %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <form class="newCategoryForm bg-light p-3" action="#" method="post">
          <h1 class="text-center">Are you sure you want to delete the {{bike.name}} bike?</h1>
          <hr>
          <div class="row">
            <div class="col text-right">
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
            <div class="col text-left">
              <a class="btn btn-secondary" href="{{url_for('showAllBikes')}}" role="button">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
