<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Item Catalog</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="713844007956-6em8bfk83oopbjigthj7mvmb5jbdc63v.apps.googleusercontent.com">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <title>Bike Catalog</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <a href="/" class="navbar-brand">Bike Catalog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expandable="false" area-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
            <div class="dropdown-menu" aria-labelledby="categoryDropdown">
              {% for c in categories %}
                <a class="dropdown-item" href="{{url_for('showCategoryBikes', category_name=c.name)}}">{{c.name}}</a>
              {% endfor %}
              <a class="dropdown-item text-info" href="{{url_for('addNewCategory')}}">Add New</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <div id="signinButton" class="pt-2">
              <span class="g-signin"
                data-scope="openid email"
                data-clientid="713844007956-6em8bfk83oopbjigthj7mvmb5jbdc63v.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
              </span>
            </div>
          </li>
          <li class="nav-item dropdown mr-5" id="userInfo">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome, {{login_session['username']}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <img id="userImg" src="{{login_session['picture']}}" class="dropdown-item rounded-circle">
              <p id="userName" class="dropdown-item">{{login_session['username']}}</p>
              <p id="userEmail" class="dropdown-item">{{login_session['email']}}</p>
              <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!--- Dynamic Pages --->
    {% block content %}
    {% endblock %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-secondary text-center flask-alert fixed-bottom" role="alert" onchange="hideAlert()">
          {% for message in messages %}
            {{message}}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}


    <script src="{{ url_for('static',filename = 'app.js') }}"></script>
    <script type="text/javascript">
      var loggedIn = "{{login_session['provider']}}";
    </script>
    <script type="text/javascript">
      function signInCallback(authResult) {
        if (authResult['code']) {
          // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
          $.ajax({
            type: 'POST',
            url: '/glogin?state={{state}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                loggedIn = 'google';
                location.reload();
              } else if (authResult['error']) {
                console.log('There was an error: ' + authResult['error']);
              } else {
                console.log('There was an error')
              }
            }
          });
        }
      };
    </script>
  </body>
</html>
