{% extends "framework.html" %}
{% block content %}
  <div class="row">
    {% for b in bikes %}
    <div class="col-md-3">
      <img class="bike-pic rounded-circle" src="{{b.imageUrl}}" alt="{{b.name}}" title="{{b.name}}">
      <h3><a href="{{url_for('showBikeDetails', bike_name=b.name)}}">{{b.name}}</a></h3>
      <h4><a href="{{url_for('showBrandBikes', brand_name=b.brand)}}">{{b.brand}}</a></h4>
      <h4><a href="{{url_for('showCategoryBikes', category_name=b.category.name)}}">{{b.category.name}}</a></h4>
    </div>
    {% endfor %}
  </div>

{% endblock %}
